
.menuDiv {
    background-color: #FFFFCC;
    border-color: orange;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 4px #CCCCCC;
    height: 450px;
    text-align: center;
    width: 100%;
}
.welcomeText {
    color: black;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 18px;
    line-height: normal;
    margin-top: 10px;
}
.sceltaText {
    color: black;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-top: 10px;
}
.pulsantiMenuHomepageDiv {
    background-color: transparent;
    height: 160px;
    width: 100%;
}
.menuButton {
    float: left;
    height: 130px;
}
.testoPulsantiMenuHomepage {
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    width: 50px;
}
.phaseText {
    color: black;
    float: left;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 22px;
    height: 23px;
    line-height: normal;
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.categoryText {
    color: black;
    float: left;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 22px;
    height: 23px;
    line-height: normal;
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.unitText {
    color: black;
    float: left;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 22px;
    height: 23px;
    line-height: normal;
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.pulsanteFiltriDiv {
    background-color: transparent;
    border-radius: 12px 12px 12px 12px;
    color: white;
    font-weight: bold;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.containerFiltriDiv {
    background-color: transparent;
    border-radius: 12px 12px 12px 12px;
    float: inherit;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
.containerPulsantiFiltri {
    background-color: transparent;
    display: none;
    height: 170px;
    width: 100%;
}
.pulsanteFiltri {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.applicaFiltri {
    position: relative;
    text-align: center;
    top: 12px;
    vertical-align: middle;
}
.pulsantiFase {
    float: left;
}
.testoPulsanteFiltri {
    font-size: 14px;
    margin: -26px -25px -25px;
    position: relative;
    top: 11px;
}
.btnAllPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 11px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnOpenPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnNewPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnDiscussionPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnFrozenPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnVotationPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnCommissionPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnClosedPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnCanceledPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.lineDiv {
    border: thin solid black;
    height: 0;
    margin-left: 90px;
    margin-top: 0;
    opacity: 0.24;
    position: relative;
    top: 100px;
    width: 80%;
}
.pulsantiCategoria {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.pulsantiCategoriaDiv {
    float: left;
    margin-left: 200px;
    margin-right: auto;
}
.btnInterested {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnInitiated {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnSupported {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnPotentially {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.testoPotenzialmenteSostenuto {
    line-height: 12px;
    margin: 0;
    text-align: center;
}
.btnVoted {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.pulsantiUnitaDiv {
    float: left;
    margin-left: 40px;
    margin-right: auto;
}
.pulsantiUnita {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.btnAllUnitsPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.testoPulsanteAllUnits {
    top: 10px;
    vertical-align: middle;
}
.btnMyUnitsPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.testoMyUnits {
    line-height: 12px;
    margin: 0;
    text-align: center;
    top: 6px;
}
.btnMyAreasPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.btnPublicCitiziensUnitsPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.testoPublicCitiziensUnits {
    line-height: 12px;
    margin: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
}
.btnPublicElectedUnitsPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.testoPublicElectedUnits {
    line-height: 12px;
    margin: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
}
.testoPublicOtherGroupsUnits {
    line-height: 12px;
    margin: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
}
.btnPublicOtherGroupsUnitsPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.testoMyAreas {
    top: 10px;
    vertical-align: middle;
}
.btnNotMyAreasPhase {
    float: left;
    font-size: 12px;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.testoNotMyAreas {
    top: 10px;
    vertical-align: middle;
}
.parlamentoDiv {
    background-color: transparent;
    border-radius: 12px 12px 12px 12px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
.parlamentoImg {
    margin-left: 100px;
    margin-top: -50px;
    position: relative;
}
.containerIssueDiv {
    background-color: white;
    float: left;
    margin-left: -8px;
    width: 103%;
}
.votazioniDiv {
    background-color: #F2F19A;
    border-radius: 8px 8px 8px 8px;
    float: left;
    height: auto;
    padding: 20px;
    width: 44%;
}
.spazioDiv {
    background-color: transparent;
    float: left;
    height: 100%;
    padding: 0;
    position: relative;
    width: 2.6%;
}
.proposteDiv {
    background-color: #EBE2AA;
    border-radius: 8px 8px 8px 8px;
    float: right;
    height: auto;
    padding: 20px;
    position: relative;
    width: 45%;
}
.headerDiv {
    background-color: white;
    height: 80px;
    width: 100%;
}
.paginate {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.titolo {
    float: left;
    font-size: 34px;
    left: 105px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: justify;
}
.titoloWizard {
    float: left;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 34px;
    left: 295px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    text-align: center;
}
.titoloWizardHead {
    float: left;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 34px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: justify;
    width: 100%;
}
.issueDiv {
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    width: 470px;
}
.issue_ext {
    clear: left;
    height: 180px;
    position: relative;
    top: -35px;
}
.infoIssueDiv {
    background: linear-gradient(#888888, #222222) repeat scroll 0 center orange;
    border-radius: 16px 16px 16px 16px;
    color: white;
    float: left;
    height: 80px;
    margin-left: 7px;
    padding-left: 10px;
    padding-top: 5px;
    width: 50%;
}
.event_name {
    font-weight: bold;
}
.pulsanteVediDettaglio {
    float: left;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.testoPulsanteVediDettaglio {
    float: left;
    height: 20px;
    margin-left: 27px;
    margin-top: 7px;
}
.faseDiv {
    background-color: white;
    border: thin solid black;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 2px 2px 4px #CCCCCC;
    color: red;
    font-weight: normal;
    height: 45px;
    left: 265px;
    margin-right: 20px;
    position: relative;
    top: 0;
    width: 240px;
}
.initiative_link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
}
.labelFase {
    font-size: 17px;
    left: 1px;
    position: relative;
    top: 13px;
}
.labelFase_admission {
    color: darkred;
    float: right;
    font-size: 17px;
    left: 4px;
    position: absolute;
    top: 15px;
}
.labelFase_discussion {
    color: tomato;
    float: right;
    font-size: 17px;
    left: 4px;
    position: absolute;
    top: 15px;
}
.labelFase_verification {
    color: blue;
    float: right;
    font-size: 17px;
    left: 4px;
    position: absolute;
    top: 15px;
}
.labelFase_voting {
    color: green;
    float: right;
    font-size: 17px;
    left: 4px;
    position: absolute;
    top: 15px;
}
.spazioIssue {
    height: 24px;
    width: 100%;
}
.loginDiv {
    background-color: #FFFFCC;
    border-color: orange;
    border-style: solid;
    border-width: 2px;
    box-shadow: 2px 2px 4px #CCCCCC;
    text-align: center;
    width: 100%;
}
.wizardContainer {
    background-color: #FFFFCC;
    float: left;
    height: 100%;
    margin-top: 2em;
    width: 100%;
}
.mainContainerWizard {
    background-color: #FFFFCC;
    border: 1px solid black;
    border-radius: 0 0 0 0;
    float: left;
    height: 100%;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    width: 98%;
}
.pulsantiWizard {
    font-size: 13px;
    height: 100px;
    position: relative;
    text-align: -moz-center;
    width: 150px;
}
.wizardHeader {
    float: left;
    position: relative;
    right: 1ex;
    text-align: right;
    width: 50%;
}
.formSelect {
    float: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
.basicWizardPage {
    background-color: #FFFFCC;
    height: 450px;
}
#welcome_title_box {
    background-color: white;
    border: 12px solid orange;
    margin: 1% 5%;
}
.welcome_text_xl {
    color: black;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: xx-large;
    margin: 5px;
    text-align: center;
}
.welcome_text_l {
    color: black;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: large;
    margin: 5px;
    text-align: center;
}
.welcome_text_s {
    color: black;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: small;
    margin: 5px;
}
#version_txt {
    text-align: right;
}
#main_title {
}
#welcome_footer_container {
    height: 7.5em;
    text-align: center;
}
#welcome_logo {
    display: inline-block;
    height: 100px;
    margin: auto auto auto 0;
    vertical-align: middle;
    width: 100px;
}
#welcome_register_txt {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.7em;
    margin: auto;
    vertical-align: middle;
    width: 41%;
}
#welcome_arrow_right {
    display: inline-block;
    height: 50px;
    margin: auto;
    vertical-align: middle;
    width: 50px;
}
#welcome_btn_register {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.7em;
    margin: auto auto auto 1em;
    min-width: 5.2em;
    padding: 0.6em;
    text-align: center;
    vertical-align: middle;
    width: 16%;
}
#welcome_middle_box {
    background-color: #FFFBCE;
    border: 1px solid orange;
    color: #000000;
    margin: 2ex auto 1ex;
    padding: 1em;
    position: relative;
    text-align: center;
}
#welcome_middle_box_left {
    display: inline-block;
    height: 200px;
    margin: auto;
    padding: 1em;
    text-align: center;
    width: 253px;
}
#welcome_middle_box_right {
    display: inline-block;
    height: 200px;
    margin: auto;
    padding: 1em;
    text-align: center;
    width: 253px;
}
#welcome_btn_lazio {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.7em;
    height: 70px;
    margin: auto;
    padding-top: 30px;
    vertical-align: middle;
}
#welcome_btn_internal {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.7em;
    height: 90px;
    margin: auto;
    vertical-align: middle;
}
#welcome_parlamento_left {
    display: inline-block;
    height: 70px;
    margin: auto;
    vertical-align: middle;
    width: 121px;
}
#welcome_parlamento_right {
    display: inline-block;
    height: 70px;
    margin: auto;
    vertical-align: middle;
    width: 121px;
}
.unit_header_box {
    background-color: #FFFBCE;
    border: 1px solid orange;
    color: #000000;
    height: 175px;
    margin-bottom: 2ex;
    margin-top: 2ex;
    padding: 1em;
}
#unit_button_back {
    text-align: center;
    width: 190px;
}
.block-text {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    width: 100%;
}
.unit_button_box {
    display: inline-block;
    height: 130px;
    text-align: center;
    width: 100%;
}
#unit_img_box {
    display: inline-block;
    height: 165px;
    text-align: center;
    width: 100%;
}
#unit_button_left {
    display: inline-block;
    height: 65px;
    margin: 1em;
    padding-top: 25px;
    vertical-align: middle;
    width: 200px;
}
#unit_button_right {
    display: inline-block;
    height: 78px;
    margin: 1em;
    vertical-align: middle;
    width: 200px;
}
.unit_bottom_box {
    background-color: #EBE2AA;
    border-radius: 8px 8px 8px 8px;
    margin-top: -1em;
    padding: 1em;
    width: 100%;
}
.unit_areas_box {
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    margin-top: 60px;
    padding: 20px;
    vertical-align: middle;
    width: 96%;
}
#unit_btn_enter_area {
    float: left;
    height: 0.9em;
    width: 5.3em;
}
.area_issue_box {
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    margin-top: 60px;
    padding: 20px;
}
#unit_parlamento_img {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}
#unit_title {
    margin-top: 40px;
}
#unit_arrow_back {
    float: left;
    height: 55px;
    margin-top: 1.4em;
    width: 55px;
}
.area_filter_button {
    display: inline-block;
    height: 130px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 214px;
}
.button_text {
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 0.9em;
    margin: auto;
}
.ifbtn {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.7em;
    text-align: center;
    vertical-align: middle;
}
.area_filter_header_box {
    background-color: #FFFBCE;
    border: 1px solid orange;
    color: #000000;
    margin-bottom: 2ex;
    margin-top: 2ex;
    padding: 2em;
    text-align: center;
}
.area_show_ext_button {
    display: inline-block;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    width: 210px;
}
#flt_btn_apply, #flt_btn_delete {
    margin: 1em auto;
    text-align: center;
}
.flt_btn_txt {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.2em;
    white-space: nowrap;
    width: auto;
}
.flt_btn_head_title {
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 2em;
    margin: auto;
}
.flt_btn_box {
    border-bottom: 0.15em solid black;
    float: left;
    margin: 0.6em auto;
    padding: 0.4em;
    text-align: center;
    width: 100%;
}
#flt_box {
    height: auto;
}
#area_show_bottom_box {
    float: left;
    width: 100%;
}
.initiative_count_txt {
    background: none repeat scroll 0 0 #F8F9B2;
    border: 1px solid black;
    color: #9A1919;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.6em;
    margin: 0.3em 0.3em 0;
    padding: 0.1em;
    vertical-align: middle;
}
.initiative_data_box {
    font-size: 115%;
    line-height: 130%;
    margin-left: 168px;
}
.initiative_name {
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
.initiative_brief_description {
    color: #9A1919;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.2em;
}
.initiative_quorum_box {
    bottom: 0;
    float: left;
    max-height: 16em;
    position: absolute;
}
.initiative_quorum_bar {
    background: none repeat scroll 0 0 #246FA1;
    max-height: 15em;
    min-height: 6em;
    width: 4px;
}
.initiative_quorum_txt {
    color: #246FA1;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1em;
    margin: 0.2em auto 0.9em 0;
}
.issue_state_info_box {
    background: linear-gradient(#888888, #222222) repeat scroll 0 center transparent;
    border-radius: 16px 16px 0 0;
    color: white;
    height: 4em;
    margin-top: 6.3em;
    padding: 5px;
    position: absolute;
    width: 34.1em;
}
.issue_state_txt {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.4em;
    margin: 0 0.2em 0 0.4em;
}
.issue_state_time {
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.2em;
}
.issue_info_img {
    display: inline-block;
    height: 1.4em;
    margin: 0;
    width: 1.4em;
}
.issue_box {
    margin-top: 3em;
}
.issue_see_det {
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 2em;
    margin: -2.2em 0.2em auto auto;
    padding: 0.4em;
    text-align: center;
}
.issue_ext2 {
    margin-bottom: 0;
    position: relative;
    top: -35px;
    width: 100%;
}
.phases_box {
    float: right;
    height: 162px;
    margin-bottom: 1.2em;
    position: relative;
    width: 522px;
}
.admission, .discussion, .verification, .voting, .committee, .committee_voting, .finished {
    clear: both;
    position: absolute;
    z-index: 11;
}
.phases_bar {
    height: 162px;
    position: absolute;
    width: 522px;
    z-index: 9;
}
.phase_arrow {
    height: 70px;
    margin-left: 31px;
    margin-top: 29px;
    position: absolute;
    width: 70px;
    z-index: 10;
}
.admission {
    height: 60px;
    margin-left: 37px;
    margin-top: 55px;
    width: 60px;
}
.discussion {
    height: 65px;
    margin-left: 102px;
    margin-top: 58px;
    width: 65px;
}
.verification {
    height: 33px;
    margin-left: 181px;
    margin-top: 72px;
    width: 33px;
}
.voting {
    height: 48px;
    margin-left: 237px;
    margin-top: 64px;
    width: 48px;
}
.committee {
    height: 48px;
    margin-left: 309px;
    margin-top: 64px;
    width: 48px;
}
.committee_voting {
    margin-left: 380px;
    margin-top: 64px;
}
.finished {
    margin-left: 452px;
    margin-top: 66px;
}
.login input[type="submit"] {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}
.usr_psw_box {
    display: inline-block;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    width: 55%;
}
.issue_title {
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    margin: 0.4em 0 0.2em;
}
.issue_brief_description {
}
.issue_vote_box {
    border: 1px solid black;
    box-shadow: 2px 2px 4px #CCCCCC;
    display: inline-block;
    margin: -4em auto auto 0.2em;
    position: absolute;
    vertical-align: middle;
}
.issue_vote_txt {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 2.2em;
    margin: 0.2em;
    vertical-align: middle;
}
.thumb {
    display: inline-block;
    height: 2.7em;
    vertical-align: middle;
    width: 2.7em;
}
.issue_thumb_cont_up {
    border: 4px solid green;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin: 0.2em;
    vertical-align: middle;
}
.issue_thumb_cont_down {
    border: 4px solid red;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin: 0.2em;
    vertical-align: middle;
}
.initiative_list_ext {
    border: 1px solid black;
    margin: 0.4em;
    max-height: 16em;
    overflow-x: hidden;
    overflow-y: auto;
}
