html, body {
  height: 100%;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 767px;
}

a{
 color: #000000;
 text-decoration: none !important
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

.footer, .push {
  height: 3em;
}

#default {
  margin-top: 60px;
}

.well {
  background-color: #fffbd2;
  border: 1px solid #ffb015;
}

.btn {
  display: table-cell;
  font-weight:bold;
  text-transform:uppercase;
  -webkit-box-shadow: hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.3) 0 .6em 6px;
     -moz-box-shadow: hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.3) 0 .6em 6px; /* drop shadow */;
          box-shadow: hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.3) 0 .6em 6px; /* drop shadow */;
  -webkit-border-radius: 18px;
     -moz-border-radius: 18px;
          border-radius: 18px;
}

.btn-primary {
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #FFB52B;
  *background-color: #FFB52B;
  background-image: -moz-linear-gradient(top, #FCD283, #FFB52B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FCD283), to(#FFB52B));
  background-image: -webkit-linear-gradient(top, #FCD283, #FFB52B);
  background-image: -o-linear-gradient(top, #FCD283, #FFB52B);
  background-image: linear-gradient(to bottom, #FCD283, #FFB52B);
  background-repeat: repeat-x;
  border-color: #FFB52B;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCD283', endColorstr='#FFB52B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #000000;
  background-color: #FFB52B;
  *background-color: #003bb3;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #FFB52B;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #FFB52B \9;
}

/*
  M5S specific
*/

#m5s_logo{
  height: 70px;
  width: 70px;
  max-width:  70px;
}

#parlamento_img{
/*
  height: 164px;
  width: 284px;
*/
  max-width:  284px;
}

.alert-simple {
  padding: 8px 8px 8px 8px;
  color: #000000;
  background-color: #ffffff;
  border-color: #7e8789;
}

/*
  Imported from style.css (modified)
*/

.delegation_info {
    text-decoration: none;
    border-radius: 0px 5px 0px 5px;
}

.delegation_arrow {
    vertical-align: middle;
}

.delegation_info .link {
    text-decoration: underline;
    color: #aaa;
}

a.delegation_info:hover,a.delegation_info:focus {
    background-color: #ddd;
}

.delegation_info .micro_avatar {
    box-shadow: 1px 1px 2px #000;
}

.delegation_info .micro_avatar.highlighted {
    margin: 0;
    border: 2px solid #f90;
}

.micro_avatar {
    height: 24px;
    border-radius: 4px;
    vertical-align: middle;
}

.highlighted {
    background-color: #fa7;
    color: #000;
}
