a{
 color: #000000;
 text-decoration: none !important
}
.footer, .push {
  height: 3em;
}

#default {
  margin-top: 60px;
}

.table-cell {
  display: table-cell;
}

.inline-block {
  display: inline-block;
}

.alert-simple {
  padding: 8px 8px 8px 8px;
  color: #000000;
  background-color: #ffffff;
  border-color: #7e8789;
}

.well-title {
  color: #000000;
  background-color: #ffffff;
  border: 7px solid #67e567;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

/*
  M5S specific
*/

.large_btn  {
    max-width:230px;
    height:115px;
}
.large_btn_home  {
    max-width:250px;
    height:90px;
}
.large_btn_show_ext  {
    max-width:230px;
    height: 90px;
}
.medium_btn  {
    max-width:200px;
}
.small_btn  {
    max-width:180px;
}

.filter_btn {
  margin: 5px;
}

#issues_box {
  margin-top: 15px;
}

#m5s_logo{
  height: 70px;
  width: 70px;
  max-width:  70px;
}

#parlamento_img{
  max-width:  284px;
}

#register_txt_box {
  height: 100px;
}

/*
  Phase bar
*/
.phases_box {
    display: inline-block;
    margin-bottom: -1.9em;
    height: 162px;
    width: 522px;
}
.admission, .discussion, .verification, .voting, .committee, .committee_voting, .finished {
    position: absolute;
    z-index: 11;
}
.phases_bar {
    height: 162px;
    position: absolute;
    width: 522px;
    z-index: 9;
}
.phase_arrow {
    height: 70px;
    margin-left: 31px;
    margin-top: 29px;
    position: absolute;
    width: 70px;
    z-index: 10;
}
.admission {
    height: 60px;
    margin-left: 37px;
    margin-top: 55px;
    width: 60px;
}
.discussion {
    height: 65px;
    margin-left: 102px;
    margin-top: 58px;
    width: 65px;
}
.verification {
    height: 33px;
    margin-left: 181px;
    margin-top: 72px;
    width: 33px;
}
.voting {
    height: 48px;
    margin-left: 237px;
    margin-top: 64px;
    width: 48px;
}
.committee {
    height: 48px;
    margin-left: 309px;
    margin-top: 64px;
    width: 48px;
}
.committee_voting {
    margin-left: 380px;
    margin-top: 64px;
}
.finished {
    margin-left: 452px;
    margin-top: 66px;
}
/*
  Thumb & voting
*/
.issue_vote_box {
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 2px 4px #CCCCCC;
    display: inline-block;
    vertical-align: middle;
}
.issue_vote_txt {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 2.2em;
    margin: 0.2em;
    vertical-align: middle;
}
.thumb {
    display: inline-block;
    height: 2.7em;
    vertical-align: middle;
    width: 2.7em;
}
.issue_thumb_cont_up {
    border: 4px solid green;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin: 0.2em;
    vertical-align: middle;
}
.issue_thumb_cont_down {
    border: 4px solid red;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin: 0.2em;
    vertical-align: middle;
}

/*
  Imported from style.css (modified)
*/

.delegation_info {
    text-decoration: none;
    border-radius: 0px 5px 0px 5px;
}

.delegation_arrow {
    vertical-align: middle;
}

.delegation_info .link {
    text-decoration: underline;
    color: #aaa;
}

a.delegation_info:hover,a.delegation_info:focus {
    background-color: #ddd;
}

.delegation_info .micro_avatar {
    box-shadow: 1px 1px 2px #000;
}

.delegation_info .micro_avatar.highlighted {
    margin: 0;
    border: 2px solid #f90;
}

.micro_avatar {
    height: 24px;
    border-radius: 4px;
    vertical-align: middle;
}

.highlighted {
    background-color: #fa7;
    color: #000;
}
/*@media screen and (min-width: 380px) {
  h1 { font-size: 1.3em; }
  h2 { font-size: 1.2em; line-height: 15px; }
  h3 { font-size: 1.1em; line-height: 15px; }
  h4 { font-size: 1.0em; line-height: 15px; }
  h5 { font-size: 0.9em; line-height: 15px; }
  h6 { font-size: 0.8em; line-height: 15px; }
}*/
@media screen and (min-width: 600px) {
  h1 { font-size: 1.4em; }
  h2 { font-size: 1.3em; line-height: 20px; }
  h3 { font-size: 0.9em; line-height: 20px;  }
  h4 { font-size: 1.1em; line-height: 20px; }
  h5 { font-size: 1.0em; line-height: 15px; }
  h6 { font-size: 0.9em; line-height: 15px; }
}
@media screen and (min-width: 768px) {
  h1 { font-size: 1.50em; }
  h2 { font-size: 1.40em; line-height: 25px; }
  h3 { font-size: 1.30em; line-height: 25px; }
  h4 { font-size: 1.20em; line-height: 25px; }
  h5 { font-size: 1.10em; line-height: 15px; }
  h6 { font-size: 1.00em; line-height: 15px; }
}
@media screen and (min-width: 1200px) {
  h1 { font-size: 1.70em; }
  h2 { font-size: 1.60em;  line-height: 15px; }
  h3 { font-size: 1.50em;  line-height: 25px; }
  h4 { font-size: 1.40em;  line-height: 25px; }
  h5 { font-size: 1.30em; line-height: 15px; }
  h6 { font-size: 0.90em; line-height: 15px; }
}
