body {
  margin: 0;
  font-family:Optima, Segoe, "Segoe UI", Candara, Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*color: #000000;
*/
  background-color: #ffffff;
  min-width: 768px;
}

a{
 color: #000000;
 text-decoration: none !important
}
.footer, .push {
  height: 3em;
}

#default {
  margin-top: 60px;
}

.table-cell {
  display: table-cell;
}

.inline-block {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

.alert-simple {
  padding: 8px 8px 8px 8px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #7e8789;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.well-title {
  color: #000000;
  background-color: #ffffff;
  border: 14px solid #ffa500;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

/*
  M5S specific
*/

#menu_dropdown {
  margin-left: -65px;
}

.large_btn  {
    height:115px;
}
.large_btn_home  {
    max-width:292px;
    height:90px;
}
.large_btn_show_ext  {
    max-width:230px;
    height: 90px;
}
.medium_btn  {
    max-width:200px;
}
.small_btn  {
    max-width:180px;
}

.filter_btn, .details_btn {
  margin: 5px;
}

#issues_box {
  margin-top: 15px;
}

#m5s_logo{
  height: 70px;
  width: 70px;
  max-width:  70px;
}

#parlamento_img{
  max-width:  284px;
}

.btn_box_bottom{
  margin-bottom: 20px;
}

.btn_box_top{
  margin-top: 10px;
}

.arrow_medium {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.btn_margin {
  margin-bottom: 10px;
}

#social_box {
  margin-left: 0;
}

/*
  Initiative
*/

.initiative_list_box {
    max-height: 16em;
    overflow-x: hidden;
    overflow-y: auto;
}
.initiative_count_txt {
  background: none repeat scroll 0 0 #F8F9B2;
  border: 1px solid black;
  color: #9A1919;
  font-size: 1.4em;
  padding-left: 0.3em;
}

/*
  Issue
*/

.issue_state_info_box, .issue_state_info_box2  {
    background: #000000;
    border-radius: 16px 16px 0 0;
    color: #ffffff;
    padding: 8px;
    overflow: hidden;
}

.issue_state_info_box2 {
  height: 134px;
}

.issue_see_det_btn {
  margin-top: -19px;
}

.issue_vote_box {
  margin-top: -19px;
}

.issue_box {
  margin-bottom: 35px;
}

#issue_url_box {
  width: 66%;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
/*
  Phase bar
*/
.phases_box {
  //  display: inline-block;
    margin-bottom: -26px;
    margin-right: -10px;
    height: 160px;
    width: 520px;
}
.admission, .discussion, .verification, .voting, .committee, .committee_voting, .finished {
    position: absolute;
    z-index: 11;
}
.phases_bar {
    height: 160px;
    position: absolute;
    width: 520px;
    min-width: 520px;
    z-index: 9;
}
.phase_arrow {
    height: 70px;
    margin-top: 18px;
    position: absolute;
    width: 70px;
    z-index: 10;
}
.admission {
    height: 60px;
    margin-left: 22px;
    margin-top: 47px;
    width: 60px;
}
.discussion {
    height: 65px;
    margin-left: 87px;
    margin-top: 48px;
    width: 65px;
}
.verification {
    height: 33px;
    margin-left: 165px;
    margin-top: 64px;
}
.voting {
    height: 48px;
    margin-left: 222px;
    margin-top: 56px;
    width: 48px;
}
.committee {
    height: 48px;
    margin-left: 293px;
    margin-top: 53px;
    width: 48px;
}
.committee_voting {
    height: 40px;
    margin-left: 361px;
    margin-top: 51px;
}
.finished {
    height: 48px;
    margin-left: 427px;
    margin-top: 54px;
}
/*
  Thumb & voting
*/
.issue_vote_box {
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 2px 4px #CCCCCC;
    display: inline-block;
    vertical-align: middle;
}
.issue_vote_txt {
    display: inline-block;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
    font-size: 2.2em;
    margin: 0.2em;
    vertical-align: middle;
}
.thumb {
    display: inline-block;
    height: 2.7em;
    vertical-align: middle;
    width: 2.7em;
}
.issue_thumb_cont_up {
    border: 4px solid green;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin: 0.2em;
    vertical-align: middle;
}
.issue_thumb_cont_down {
    border: 4px solid red;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin: 0.2em;
    vertical-align: middle;
}

/*
  Imported from style.css (modified)
*/

.delegation_info {
    text-decoration: none;
    border-radius: 0px 5px 0px 5px;
}

.delegation_arrow {
    vertical-align: middle;
}

.delegation_info .link {
    text-decoration: underline;
    color: #aaa;
}

a.delegation_info:hover,a.delegation_info:focus {
    background-color: #ddd;
}

.delegation_info .micro_avatar {
    box-shadow: 1px 1px 2px #000;
}

.delegation_info .micro_avatar.highlighted {
    margin: 0;
    border: 2px solid #f90;
}

.micro_avatar {
    height: 24px;
    border-radius: 4px;
    vertical-align: middle;
}

.highlighted {
    background-color: #fa7;
    color: #000;
}
/*
@media screen and (min-width: 380px) {
  h1 { font-size: 1.3em; }
  h2 { font-size: 1.2em; line-height: 15px; }
  h3 { font-size: 1.1em; line-height: 15px; }
  h4 { font-size: 1.0em; line-height: 15px; }
  h5 { font-size: 0.9em; line-height: 15px; }
  h6 { font-size: 0.8em; line-height: 15px; }
}
@media screen and (min-width: 600px) {
  h1 { font-size: 1.4em; }
  h2 { font-size: 1.3em; line-height: 20px; }
  h3 { font-size: 0.9em; line-height: 20px;  }
  h4 { font-size: 1.1em; line-height: 20px; }
  h5 { font-size: 1.0em; line-height: 15px; }
  h6 { font-size: 0.9em; line-height: 15px; }
}
@media screen and (min-width: 768px) {
  h1 { font-size: 1.50em; }
  h2 { font-size: 1.40em; line-height: 25px; }
  h3 { font-size: 1.30em; line-height: 25px; }
  h4 { font-size: 1.20em; line-height: 25px; }
  h5 { font-size: 1.10em; line-height: 15px; }
  h6 { font-size: 1.00em; line-height: 15px; }
}
@media screen and (min-width: 1200px) {
  h1 { font-size: 1.70em; }
  h2 { font-size: 1.60em;  line-height: 25px; }
  h3 { font-size: 1.50em;  line-height: 25px; }
  h4 { font-size: 1.40em;  line-height: 25px; }
  h5 { font-size: 1.30em; line-height: 15px; }
  h6 { font-size: 0.90em; line-height: 15px; }
}
*/

