
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    background: none repeat scroll 0 0 white;
    color: black;
    line-height: 1;
}
li {
    line-height: 133%;
}
p {
    margin-bottom: 2ex;
    margin-top: 2ex;
}
a {
    text-decoration: underline;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
a:focus {
    outline: 1px solid #FF9900;
}
body {
    background: url("back.png") repeat scroll 0 0 #F8F8F9;
}
body, th, td {
    font-family: sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}
.page, .topbar_content {
    margin: 0 auto;
    max-width: 1130px;
}
body, a {
    color: #000000;
}
img {
    border: medium none;
}
table {
    border: medium none;
    border-collapse: collapse;
}
td, th {
    padding: 0.5ex 0.5em 0.5ex 0;
}
td {
    vertical-align: top;
}
th {
    font-weight: bold;
    vertical-align: bottom;
}
a.active {
    color: #FFFFFF;
}
.revoked {
    text-decoration: line-through;
}
.highlighted {
    background-color: #FFAA77;
    color: #000000;
}
.admin_only {
    font-style: italic;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 125%;
}
.inline {
    display: inline;
}
.layout_notice, .layout_error, .layout_warning {
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    line-height: 1.7em;
}
.slot_notice, .slot_warning, .slot_error {
    padding-left: 1em;
}
.slot_notice {
    background-color: #CCFFCC;
    color: #004400;
}
.slot_warning {
    background-color: #FFEECC;
    color: #442200;
}
.slot_error {
    background-color: #FFCCCC;
    color: #440000;
}
.topbar {
    background: linear-gradient(#777777, #000000) repeat scroll 0 0 #333333;
    border-top: 1px solid #333333;
    box-shadow: 0 0 5px #AAAAAA;
    font-size: 115%;
    line-height: 35px;
    padding-top: 5px;
}
.logo_liquidfeedback {
    font-weight: bold;
    margin-left: 15px;
}
.topbar .instance_name, .topbar a {
    color: #F7F7F7;
    line-height: 30px;
}
.topbar a:hover, .topbar a:hover .logo_liquidfeedback, .topbar a:focus, .topbar a:focus .logo_liquidfeedback {
    color: #FF9900;
}
.navigation {
    line-height: 200%;
}
.topbar img {
    margin-right: 0.5em;
    vertical-align: middle;
}
.topbar a {
    display: block;
    float: left;
    padding: 0 0.5em;
    white-space: nowrap;
}
form.unit_selector {
    display: inline;
}
.topbar .navigation_right {
    float: right;
    padding-right: 1%;
}
.topbar ul {
    list-style-type: none;
}
#member_menu {
    z-index: 2;
}
#member_menu li {
    float: left;
}
#member_menu li:hover {
    cursor: default;
    position: relative;
    z-index: 4;
}
#member_menu {
    margin: 0;
    padding: 0;
    width: 200px;
}
#member_menu > li {
    width: 200px;
}
#member_menu li a {
    float: right;
}
#member_menu ul {
    background: none repeat scroll 0 0 #000000;
    border-radius: 0 0 8px 8px;
    display: none;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 200px;
    z-index: 3;
}
#member_menu ul li {
    float: none;
}
#member_menu ul li a {
    background: none repeat scroll 0 0 #000000;
    float: none;
    font-size: 80%;
}
#member_menu ul ul {
    right: 1px;
    top: 1px;
}
#member_menu li:hover ul {
    display: block;
}
#member_menu li li a {
    background: none repeat scroll 0 0 #000000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
}
#member_menu ul li:hover a {
    background: none repeat scroll 0 0 #000000;
    color: #FF9900;
}
.slot_head {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #555555 #555555;
    border-image: none;
    border-radius: 0 0 8px 8px;
    border-right: 1px solid #555555;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: 0 1% 2ex;
}
.member_thumb, .member_statement, .suggestion_content, .slot_head, .area_list, .initiative_head, .issues .issue, .ui_tabs_links a, .ui_filter a, .help, .use_terms, .motd, .vote_info .content, .box, div.notifications {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px #CCCCCC;
}
.slot_head > div:last-child {
    border-radius: 0 0 8px 8px;
}
.page_head .title, .issue .context, .initiative_head .title {
    padding: 8px 10px 2px;
}
.initiative_head .draft_version {
    font-weight: bold;
}
.initiative_head a.title {
    display: block;
}
.area_list .title {
    padding: 8px 10px 0;
}
.issue .title {
    clear: left;
    padding: 10px 10px 0;
}
.events .issue .title {
    padding: 10px 10px 15px;
}
.page_head .actions, .page_head .unit_head .content, .page_head .area_head .content, .issue .content, .initiative_head .content, .area_list .unit_head .content, .area_list .area .content {
    line-height: 120%;
    padding: 5px 10px;
}
.initiative_head {
    margin-bottom: 2ex;
}
.page_head .actions:last-child, .page_head .unit_head .content:last-child, .page_head .area_head .content:last-child, .issue .content:last-child, .initiative_head .content:last-child, .area_list .unit_head .content:last-child, .area_list .area .content:last-child {
    padding: 5px 10px 7px;
}
.page_head .initiative_list, .issue .initiative_list {
    padding-left: 8px;
}
.issue .content.actions {
    margin-bottom: 1ex;
}
.area_head {
    overflow: auto;
}
.page_head .title, .issue .title, .initiative_head .title, .area_list .unit_head .unit_name, .area_list .area_name {
    font-size: 115%;
    font-weight: bold;
}
.page_head .area_head .content, .page_head .area_head .content a, .page_head .issue .content.actions, .page_head .issue .content.actions a, .issues .issue .content.actions, .issues .issue .content.actions a, .area_list .area .content, .area_list .area .content a {
    color: #000000;
}
.unit_head {
    background: linear-gradient(#6677DD, #2233AA) repeat scroll 0 0 #4444AA;
    color: #F0F0F0;
}
.unit_head:last-child {
    border-radius: 0 0 8px 8px;
}
.area_head:last-child {
    border-radius: 0 0 8px 8px;
}
.unit_head .content, .unit_head a {
    color: #F7F7F7;
}
.area_head, .area_list .area_head {
    background: linear-gradient(#CCDDFF, #AABBEE) repeat scroll 0 0 #AABBFF;
}
.area_list .area > .content, .issue {
    background: linear-gradient(#F7FAFF, #E0E9FF) repeat scroll 0 0 #E0E9FF;
}
.unit_link, .area_link {
    border-radius: 5px 5px 5px 5px;
    float: left;
    line-height: 170%;
    margin-right: 8px;
    margin-top: 5px;
    padding: 0 5px;
}
.unit_link {
    background-color: #4444AA;
    color: #FFFFFF;
}
.area_link {
    background-color: #AABBFF;
    color: #000000;
}
.delegation_info {
    border-radius: 0 5px 0 5px;
    float: right;
    padding: 5px;
    text-decoration: none;
}
.delegation_arrow {
    vertical-align: middle;
}
.delegation_info .link {
    color: #AAAAAA;
    text-decoration: underline;
}
a.delegation_info:hover, a.delegation_info:focus {
    background-color: #DDDDDD;
}
.delegation_info .micro_avatar {
    border: medium none;
    box-shadow: 1px 1px 2px #000000;
    margin: 2px;
}
.delegation_info .micro_avatar.highlighted {
    border: 2px solid #FF9900;
    margin: 0;
}
.member_list .member_image_avatar {
    float: left;
    margin-right: 0.5em;
}
.micro_avatar {
    border-radius: 4px 4px 4px 4px;
    height: 24px;
    vertical-align: middle;
}
.logo {
    float: right;
    margin-right: 1%;
}
.member_image_photo {
    border-radius: 8px 8px 8px 8px;
}
.main {
    margin-left: 1%;
    margin-right: 1%;
}
.ui_tabs_links {
    line-height: 300%;
    margin: 20px 0 10px -2px;
}
.ui_tabs_links a {
    background: linear-gradient(#777777, #000000) repeat scroll 0 0 #444444;
    border-radius: 8px 8px 8px 8px;
    color: #F7F7F7;
    font-size: 115%;
    font-weight: bold;
    margin: 2px 4px 2px 2px;
    padding: 7px 10px;
    white-space: nowrap;
}
.ui_tabs_links a:hover, .ui_tabs_links a:focus, .ui_tabs_links a.selected {
    border: 2px solid #FF9900;
    box-shadow: 0 0 3px 1px #FF9900;
    margin: 0 2px 0 0;
}
.ui_tabs_links a.selected {
    text-decoration: none;
}
.ui_filter {
    margin-top: 15px;
    overflow: auto;
}
.ui_filter_head {
    border-bottom: 1px solid #888888;
    color: #777777;
    line-height: 200%;
    margin-bottom: 6px;
    padding-bottom: 8px;
}
.ui_filter_head:last-child {
    border-bottom: medium none;
}
.ui_filter a {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    margin-right: 0;
    padding: 0.5ex 0.5em;
}
.ui_filter_head a.active {
    background: linear-gradient(#666666, #222222) repeat scroll 0 0 #444444;
    border: 1px solid #666666;
    color: #FFFFFF;
    text-decoration: none;
}
.ui_paginate_head {
    display: none;
    margin-bottom: 1ex;
}
.ui_paginate_foot {
    margin-bottom: 4ex;
    margin-top: 1ex;
}
.initiative_head .ui_paginate_foot {
    margin-bottom: 1ex;
}
.ui_paginate_select a {
    border-radius: 4px 4px 4px 4px;
    padding: 0.5em;
}
.bargraph {
    width: 103px;
}
.bargraph50 {
    width: 52px;
}
.bargraph div {
    float: left;
    height: 1.3ex;
    margin-top: 0.5ex;
}
.bargraph .quorum {
    height: 1.9ex;
    margin-top: 0.2ex;
}
div.notifications {
    background: linear-gradient(#FFEECC, #FFCC99) repeat scroll 0 0 #FFDDAA;
    border: 1px solid #777777;
    margin-top: 20px;
    padding: 0.5ex;
}
.notifications ul {
    margin: 0 0 0 2em;
    padding: 0;
}
.notifications li {
    margin: 0.5ex 0 0;
    padding: 0;
}
.vertical {
    margin-top: 2ex;
}
.login input[type="text"], .vertical input[type="text"], .login input[type="password"], .vertical input[type="password"], .vertical textarea, #voting_form textarea, .vertical select {
    border: 1px solid #444444;
    font-family: sans-serif;
    font-size: 100%;
    margin-bottom: 1ex;
    padding: 0.2ex 0.2em;
    width: 68%;
}
.login input[type="password"], .vertical input[type="password"] {
    width: 16em;
}
.vertical select {
    padding-right: 0;
}
#voting_form .ui_field_label, .login .ui_field_label, .vertical .ui_field_label {
    clear: left;
    color: #777777;
    display: block;
    float: left;
    font-weight: bold;
    line-height: 180%;
    padding-right: 0.5em;
    text-align: right;
    width: 29%;
}
.ui_field_label.label_right {
    text-align: left;
    width: auto;
}
.login input[type="text"], .login input[type="password"] {
    width: 10em;
}
.login div, .vertical div {
    clear: left;
}
.vertical span {
    display: block;
    line-height: 180%;
    margin-bottom: 0.5ex;
}
.vertical span:after {
    content: " ";
}
.vertical span span {
    display: inline;
    margin-bottom: 0;
}
#voting_form input[type="submit"], .login input[type="submit"], .vertical input[type="submit"] {
    background-color: #444444;
    border: medium none;
    color: #FFFFFF;
    font-size: 100%;
    margin-left: 29%;
    padding: 0.75ex;
}
#voting_form input[type="submit"] {
    margin-left: 0;
}
.login input[type="submit"]:hover, .vertical input[type="submit"]:hover, .login input[type="submit"]:focus, .vertical input[type="submit"]:focus {
    background-color: #444444;
}
.login input[type="text"], .vertical input[type="text"], .login input[type="password"], .vertical input[type="password"], .vertical textarea, .vertical select, .vertical input[type="submit"], .login input[type="submit"] {
    width: 98%;
}
.login .ui_field_label, .vertical .ui_field_label {
    text-align: left;
    width: 98%;
}
.login input[type="text"], .login input[type="password"] {
    width: 98%;
}
.login input[type="submit"], .vertical input[type="submit"] {
    margin-left: 0;
}
.positive_votes span {
    display: inline;
}
.positive_votes {
    background-color: #CCFFCC;
    display: inline;
    padding: 0.3ex 0.5em;
}
.negative_votes span {
    display: inline;
}
.negative_votes {
    background-color: #FFCCCC;
    display: inline;
    padding: 0.3ex 0.5em;
}
.suggestion_my_opinion a, .suggestion_my_opinion span {
    padding-left: 0.2ex !important;
    padding-right: 0.2ex !important;
    white-space: nowrap;
}
.active {
    background-color: #444444;
    color: #FFFFFF;
}
.active_red2 {
    background-color: #AA0000;
    color: #FFFFFF !important;
}
.active_red1 {
    background-color: #FF8888;
    color: #000000 !important;
}
.active_green1 {
    background-color: #88FF88;
    color: #000000 !important;
}
.active_green2 {
    background-color: #00AA00;
    color: #000000 !important;
}
.unit_list a {
    font-weight: bold;
}
.area_list {
    border: 1px solid #444444;
    border-radius: 10px 10px 10px 10px;
    margin-top: 2ex;
}
.area_list .area {
    border-top: 1px solid #777777;
}
.area_list .area:first-child {
    border-top: medium none;
}
.area_list .unit_head {
    border-radius: 8px 8px 0 0;
}
.area_list .unit_head:last-child {
    border-radius: 8px 8px 8px 8px;
}
.area_list .area:last-child .content:last-child {
    border-radius: 0 0 8px 8px;
}
.area_list .area:first-child .area_head {
    border-radius: 8px 8px 0 0;
}
.issues {
    clear: left;
    height: 90%;
    margin-top: 2ex;
}
.issues .issue {
    border: 1px solid #777777;
    border-radius: 8px 8px 8px 8px;
    float: left;
    margin-bottom: 4ex;
    margin-top: -10px;
    overflow: hidden;
    width: 100%;
}
.issue.interested, .issue.interest_by_delegation {
    border: 1px solid #B2CDFF;
}
.issue .suggestion {
    font-weight: bold;
    margin-bottom: 1ex;
}
.event_info {
    background: linear-gradient(#888888, #222222) repeat scroll 0 0 #444444;
    border-radius: 8px 0 0 8px;
    clear: left;
    color: #FFFFFF;
    display: inline;
    float: left;
    font-style: italic;
    line-height: 125%;
    margin-top: 8px;
    padding: 5px 8px;
    width: 240px;
}
.event_info a {
    color: #FFFFFF;
}
.events .issue {
    border: 1px solid #777777;
    min-height: 15ex;
}
.event_info .event_name, .issue_policy_info .event_name {
    font-weight: bold;
}
.more_events_links {
    background: linear-gradient(#888888, #222222) repeat scroll 0 0 #444444;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 255px;
    padding: 1ex;
}
.event_info {
    border-radius: 8px 8px 0 0;
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
}
.events .issue {
    clear: left;
}
.more_events_links {
    margin-left: 0;
}
.events .initiative .name {
    clear: left;
    margin-left: 0;
}
.issue_policy_info img {
    vertical-align: middle;
}
.issue .interest_by_delegation {
    float: right;
}
.issue .initiative_list a.highlighted {
    font-weight: bold;
}
.initiative {
    line-height: 50%;
    margin-bottom: 1ex;
    margin-left: 1ex;
}
.initiative .bar {
    margin-right: 0.3em;
}
.initiative .rank, .initiative .bar, .initiative .interest {
    float: left;
    margin-right: 0.3em;
}
.initiative .rank {
    width: 2.5em;
}
.initiative .interest {
    height: 16px;
    line-height: 100%;
    width: 20px;
}
.initiative .name {
    font-size: 115%;
    line-height: 130%;
    margin-left: 168px;
}
.initiative.selected .name {
    font-weight: bold;
}
.initiative.polling .name, .initiative_head.polling .title {
    font-style: italic;
}
.initiative .name {
    clear: left;
    margin-left: 0;
}
.issue_initiative_list a {
    font-weight: bold;
}
.more_initiatives_link {
    display: block;
    font-style: italic;
    margin-bottom: 1ex;
    margin-left: 166px;
}
.issue tr tr {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.initiative_link.selected {
    font-weight: bold;
}
x.initiative_link.supported {
    background-color: #CCDDFF;
    border-radius: 5px 5px 5px 5px;
}
x.initiative_link.potentially_supported {
    background-color: #CCDDFF;
    border-radius: 5px 5px 5px 5px;
}
.lang_chooser {
    float: right;
    margin-right: 0.5em;
}
.delegation_list_entry {
    clear: left;
    float: left;
    margin-bottom: 2ex;
    margin-right: 2em;
}
.delegation_list_entry .delegation_arrow {
    float: left;
}
.delegation_list_entry .delegation_scope {
    float: left;
    width: 25em;
}
.delegation_list_entry .delegation_scope a {
    display: block;
}
.member_list .member_thumb {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}
.member_thumb {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 8px 8px 8px 8px;
    display: block;
    float: left;
    height: 48px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-decoration: none;
    width: 205px;
}
.member_thumb a:hover div {
    background-color: #444444;
    color: #FFFFFF;
}
.member_thumb img {
    border-radius: 7px 7px 7px 7px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
.member_thumb .member_name {
    font-size: 100%;
    left: 56px;
    position: absolute;
    top: 2ex;
    width: 14em;
}
.member_thumb .flags {
    float: right;
}
.member_thumb .flags a, .member_thumb .flags img {
    float: right;
    margin-left: 0.5em;
    position: static;
}
.member_thumb .flags .in_delegation_chain {
    font-weight: bold;
}
.member .right {
    float: right;
}
.member_thumb.not_accepted, .member_thumb.not_informed {
    border: 1px solid #CCCCCC;
    color: #777777;
}
.member_thumb.not_accepted .member_image, .member_thumb.not_accepted .member_name, .member_thumb.not_informed .member_image, .member_thumb.not_informed .member_name {
    opacity: 0.4;
}
.member_thumb.in_delegation_chain {
    background-color: #FFDDAA;
}
#suggestion_description {
    height: 15ex;
}
.diff {
    background-color: #F2F2F2;
    border: 1px solid #CCCCCC;
    padding: 1ex;
}
.diff_added {
    background-color: #CCFFCC;
    text-decoration: underline;
}
.diff_removed {
    background-color: #FFCCCC;
    text-decoration: line-through;
}
.admitted_info, .not_admitted_info, .revoked_info, .draft_updated_info, .initiator_invite_info {
    padding: 1ex;
}
.admitted_info {
    background-color: #AAFFCC;
}
.not_admitted_info, .revoked_info {
    background-color: #FFBBBB;
}
.draft_updated_info, .initiator_invite_info {
    background-color: #FFDDAA;
}
.motd, .public_access_issue_head {
    background-color: #FFDDAA;
    margin-bottom: 2ex;
    margin-top: 1ex;
    padding: 1ex;
}
.suggestion_fulfilled {
    width: 15em;
}
.suggestion_fulfilled a.action {
    line-height: 120%;
    padding-left: 0;
}
.help, .use_terms {
    background-color: #FFFBCE;
    border: 1px solid #FFE900;
    border-radius: 8px 8px 8px 8px;
    color: #000000;
    padding: 1ex;
}
.help_visible {
    margin-bottom: 1ex;
    margin-top: 2ex;
}
.help_visible .help_icon {
    float: right;
}
.slot_help_hidden {
    float: left;
    margin-top: 1ex;
}
.help_actions {
    float: right;
}
.help_actions a {
    color: #446688;
    margin-right: 1em;
}
.wiki {
    line-height: 150%;
}
.wiki h1, .wiki h2, .wiki h3, .wiki h4 {
    margin-bottom: 1ex;
    margin-top: 1ex;
}
.wiki h1 {
    font-size: 133%;
    font-weight: bold;
}
.wiki h2 {
    font-size: 115%;
    font-weight: bold;
}
.wiki h3 {
    font-size: 115%;
}
.wiki h4 {
    font-size: 100%;
    font-weight: bold;
}
.wiki p {
    margin-bottom: 1ex;
    margin-top: 1ex;
}
form .warning {
    background-color: #FFFFDD;
    border: 1px solid #DDDDAA;
    color: #000000;
    margin: 1ex 1ex 2ex;
    padding: 1ex;
}
a.not_voted {
    background-color: #FFEECC;
    color: #000000;
    display: block;
}
.action_active {
    background-color: #FFEECC;
}
.heading {
    display: block;
    font-size: 115%;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
}
.heading.first {
    margin-top: 0;
}
.menu_list li {
    padding-bottom: 1ex;
    padding-top: 1ex;
}
.deactivated_member_info {
    background-color: #AA0000;
    color: #FFFFFF;
}
#voting_form {
    margin-top: 20px;
}
#voting {
    position: relative;
}
#voting .approval, .abstention, .disapproval {
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 5ex;
    margin-top: 2ex;
    padding: 1ex 1ex 2ex;
}
#voting .approval {
    background-color: #99FF99;
}
#voting .approval .movable {
    background-color: #DDFFDD;
}
#voting .abstention {
    background-color: #CCCCCC;
}
#voting .abstention .movable {
    background-color: #F2F2F2;
}
#voting .disapproval {
    background-color: #FF8888;
}
#voting .disapproval .movable {
    background-color: #FFBBBB;
}
#voting .cathead {
    font-weight: bold;
}
#voting .movable {
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    margin-top: 1ex;
    padding: 0.5ex;
    position: relative;
}
#voting .voting_form_active .movable {
    cursor: pointer;
}
#voting .voting_form_active .clickable {
    cursor: auto;
}
#voting .voting_form_active a.clickable {
    cursor: pointer;
}
#voting .movable {
    cursor: move;
    vertical-align: middle;
}
.member_statement, .suggestion_content, .initiative_head, .box, div.notifications {
    border-radius: 8px 8px 8px 8px;
}
.member_statement, .suggestion_content, .initiative_head, .box {
    border: 1px solid #777777;
}
.member_statement, .draft_content, .suggestion_content, .box {
    padding: 0 12px;
}
.suggestion_content, .member_statement, .draft_content {
    border-left: 12px solid #777777;
}
.slot_footer {
    border-top: 1px solid #CCCCCC;
    margin: 0 1%;
    padding: 1ex;
    text-align: center;
}
.slot_footer, .slot_footer a {
    color: #666666;
}
.footer {
    margin: 0 auto;
    max-width: 1130px;
}
